<header>
<!-- 百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0fcf4b121a2ff9f12c8b53a5ab22a59d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!-- 百度统计结束-->

<!-- navbar -->
  <nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <p class="navbar-text">有空没事写博客</p>
	  
	    
		  
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    
      <ul class="nav navbar-nav navbar-right">
        {% if page.url == "/index.html" %}
          <li class="active">
          {% else %}
          <li>
        {% endif %}
          <a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span>首页</a></li>

		  
        {% for p in site.pages %}
          {% if p.title %}
            {% if p.url == page.url %}
              <li class="active">
              {% else %}
              <li>
            {% endif %}
            <a href="{{ p.url | prepend: site.baseurl }}"><span class="glyphicon {{ p.icon }}"></span> {{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
	  <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" id="searchInput" class="form-control" placeholder="搜索">
            </div>
            <button id="searchBtn" type="button" class="btn btn-primary">搜索</button>
        </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>